################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Enade2017/x64/Debug
/.vs/Enade
/Enade2019/x64/Debug
/x64/Debug
